# Hasil build Maven
/target/

# File-file Java (class dan jar)
*.class
*.jar

# File pengaturan VSCode
.vscode/

# File IDE lain (jaga-jaga temanmu pakai IDE beda)
.idea/
*.iml
.settings/
.project
.classpath

# File MacOS
.DS_Store